1. Tentukan Library yang digunakan

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

2. Load Data Set

In [2]:
dataset = pd.read_csv('kelulusansekolah.csv')

In [3]:
dataset.head()

   IPS1  IPS2  IPS3  IPS4  IPS5  IPS6  IPS7  IPS8  IPK   Status Kelulusan
0  2.76  2.80  3.20  3.17  2.98  3.00  3.03   2.0  2.87                 0
1  3.00  3.30  3.14  3.14  2.84  3.13  3.25   2.0  2.98                 0
2  3.50  3.30  3.70  3.29  3.53  3.72  3.73   2.0  3.35                 1
3  3.17  3.41  3.61  3.36  3.48  3.63  3.46   2.0  3.27                 1
4  2.90  2.89  3.30  2.85  2.98  3.00  3.08   2.0  2.88                 0

In [4]:
dataset.shape

(50, 10)

In [5]:
dataset['Status Kelulusan'].value_counts()

0    25
1    25
Name: Status Kelulusan, dtype: int64

In [6]:
x = dataset.drop(columns='Status Kelulusan', axis=1)
y = dataset['Status Kelulusan']

In [7]:
print(x)

    IPS1  IPS2  IPS3  IPS4  IPS5  IPS6  IPS7  IPS8  IPK
0   2.76  2.80  3.20  3.17  2.98  3.00  3.03  2.00  2.87
1   3.00  3.30  3.14  3.14  2.84  3.13  3.25  2.00  2.98
2   3.50  3.30  3.70  3.29  3.53  3.72  3.73  2.00  3.35
3   3.17  3.41  3.61  3.36  3.48  3.63  3.46  2.00  3.27
4   2.90  2.89  3.30  2.85  2.98  3.00  3.08  2.00  2.88
5   2.95  2.82  3.09  3.10  2.78  3.16  3.23  2.00  2.89
6   2.76  3.14  2.60  2.95  3.23  3.33  3.30  3.30  3.08
7   2.62  2.89  2.32  2.50  2.50  2.86  3.05  2.50  2.66
8   3.60  3.54  3.52  3.39  3.52  3.68  3.15  2.00  3.30
9   2.71  2.55  1.77  2.11  1.93  2.13  1.78  0.20  1.90
10  3.14  3.46  3.40  3.43  3.27  3.15  3.81  4.00  3.46
11  2.67  2.30  1.57  1.44  1.58  1.68  1.13  0.94  1.66
12  2.57  2.82  2.20  2.45  2.10  2.42  1.00  1.42  2.12
13  2.71  3.00  2.65  2.27  2.13  3.34  2.50  1.00  2.45
14  3.24  3.38  3.44  3.30  3.56  3.45  3.35  3.35  3.38
15  2.86  2.86  2.45  1.86  3.19  3.14  2.98  2.00  2.67
16  2.71  3.27  2.54  3.36  3.23  3.28  3.15  2.00  2.94
17  2.67  2.20  1.45  3.00  3.17  3.08  3.33  1.00  2.49
18  2.67  2.68  1.95  1.61  2.36  2.21  0.78  0.92  1.90
19  3.10  3.71  2.96  3.40  3.40  3.61  3.73  3.00  3.36
20  3.00  3.33  2.88  2.80  3.36  3.07  3.43  4.00  3.23
21  3.12  3.23  2.96  3.00  3.31  3.00  3.08  3.00  3.09
22  2.90  3.32  2.83  2.91  3.30  2.83  3.27  4.00  3.17
23  2.95  3.41  3.48  3.24  2.95  3.00  2.75  1.00  2.85
24  3.05  2.92  2.27  2.65  3.00  3.45  3.24  2.00  2.82
25  2.64  3.00  2.90  2.77  3.25  3.50  3.22  2.00  2.91
26  2.45  2.45  2.14  1.95  1.82  2.66  1.61  1.00  2.01
27  0.33  2.90  3.16  2.35  3.09  2.96  3.24  3.45  2.69
28  3.33  3.63  3.29  3.89  3.60  3.13  3.35  3.35  3.45
29  3.05  3.38  3.21  2.93  2.83  3.33  3.39  2.50  3.08
30  2.52  2.75  2.25  2.50  2.64  2.87  3.20  2.00  2.59
31  3.12  3.10  2.73  2.80  3.07  3.31  2.77  2.77  2.96
32  2.71  3.16  2.44  2.91  3.02  2.98  3.36  3.21  2.97
33  3.26  3.73  3.02  3.50  2.69  3.33  3.09  3.50  3.27
34  2.71  2.89  2.75  3.18  3.19  3.22  3.73  3.00  3.08
35  2.88  3.48  3.17  2.50  2.77  3.53  3.30  3.00  3.08
36  3.02  3.63  3.42  3.37  3.15  3.27  3.63  3.00  3.31
37  3.31  3.60  3.67  3.57  3.56  3.87  3.78  3.00  3.55
38  2.48  2.48  2.23  2.09  1.45  2.42  2.05  2.58  2.22
39  2.90  3.55  3.38  3.54  3.23  3.39  3.53  3.00  3.32
40  2.83  3.61  3.18  3.23  3.02  3.20  3.18  3.00  3.16
41  2.38  2.70  3.02  3.00  3.26  3.00  0.62  0.35  2.29
42  3.24  3.83  3.65  3.61  3.69  3.73  3.70  3.00  3.56
43  3.43  3.56  3.55  3.67  3.35  3.66  3.60  3.00  3.48
44  3.76  3.81  3.17  3.63  3.81  3.81  3.70  3.00  3.59
45  3.64  3.96  3.69  3.83  3.81  4.00  3.85  3.00  3.72
46  3.05  2.35  3.39  2.50  2.84  2.40  1.67  3.00  2.65
47  3.71  3.60  3.60  3.61  3.83  3.53  2.42  3.00  3.41
48  3.00  2.83  3.57  3.26  3.83  3.33  2.43  3.00  3.16
49  2.76  2.53  2.98  2.71  2.64  3.03  3.06  3.00  2.84

In [8]:
print(y)

0     0
1     0
2     1
3     1
4     0
5     0
6     1
7     0
8     1
9     0
10    1
11    0
12    0
13    0
14    1
15    0
16    0
17    0
18    0
19    1
20    1
21    1
22    1
23    0
24    0
25    0
26    0
27    0
28    1
29    1
30    0
31    0
32    0
33    1
34    1
35    1
36    1
37    1
38    0
39    1
40    1
41    0
42    1
43    1
44    1
45    1
46    0
47    1
48    1
49    0
Name: Status Kelulusan, dtype: int64

3) Standarisasi Data

In [9]:
x = dataset.drop(columns='Status Kelulusan', axis=1)
y = dataset['Status Kelulusan']

In [10]:
print(x)
print (y)

    IPS1  IPS2  IPS3  IPS4  IPS5  IPS6  IPS7  IPS8  IPK
0   2.76  2.80  3.20  3.17  2.98  3.00  3.03  2.00  2.87
1   3.00  3.30  3.14  3.14  2.84  3.13  3.25  2.00  2.98
2   3.50  3.30  3.70  3.29  3.53  3.72  3.73  2.00  3.35
3   3.17  3.41  3.61  3.36  3.48  3.63  3.46  2.00  3.27
4   2.90  2.89  3.30  2.85  2.98  3.00  3.08  2.00  2.88
5   2.95  2.82  3.09  3.10  2.78  3.16  3.23  2.00  2.89
6   2.76  3.14  2.60  2.95  3.23  3.33  3.30  3.30  3.08
7   2.62  2.89  2.32  2.50  2.50  2.86  3.05  2.50  2.66
8   3.60  3.54  3.52  3.39  3.52  3.68  3.15  2.00  3.30
9   2.71  2.55  1.77  2.11  1.93  2.13  1.78  0.20  1.90
10  3.14  3.46  3.40  3.43  3.27  3.15  3.81  4.00  3.46
11  2.67  2.30  1.57  1.44  1.58  1.68  1.13  0.94  1.66
12  2.57  2.82  2.20  2.45  2.10  2.42  1.00  1.42  2.12
13  2.71  3.00  2.65  2.27  2.13  3.34  2.50  1.00  2.45
14  3.24  3.38  3.44  3.30  3.56  3.45  3.35  3.35  3.38
15  2.86  2.86  2.45  1.86  3.19  3.14  2.98  2.00  2.67
16  2.71  3.27  2.54  3.36  3.23  3.28  3.15  2.00  2.94
17  2.67  2.20  1.45  3.00  3.17  3.08  3.33  1.00  2.49
18  2.67  2.68  1.95  1.61  2.36  2.21  0.78  0.92  1.90
19  3.10  3.71  2.96  3.40  3.40  3.61  3.73  3.00  3.36
20  3.00  3.33  2.88  2.80  3.36  3.07  3.43  4.00  3.23
21  3.12  3.23  2.96  3.00  3.31  3.00  3.08  3.00  3.09
22  2.90  3.32  2.83  2.91  3.30  2.83  3.27  4.00  3.17
23  2.95  3.41  3.48  3.24  2.95  3.00  2.75  1.00  2.85
24  3.05  2.92  2.27  2.65  3.00  3.45  3.24  2.00  2.82
25  2.64  3.00  2.90  2.77  3.25  3.50  3.22  2.00  2.91
26  2.45  2.45  2.14  1.95  1.82  2.66  1.61  1.00  2.01
27  0.33  2.90  3.16  2.35  3.09  2.96  3.24  3.45  2.69
28  3.33  3.63  3.29  3.89  3.60  3.13  3.35  3.35  3.45
29  3.05  3.38  3.21  2.93  2.83  3.33  3.39  2.50  3.08
30  2.52  2.75  2.25  2.50  2.64  2.87  3.20  2.00  2.59
31  3.12  3.10  2.73  2.80  3.07  3.31  2.77  2.77  2.96
32  2.71  3.16  2.44  2.91  3.02  2.98  3.36  3.21  2.97
33  3.26  3.73  3.02  3.50  2.69  3.33  3.09  3.50  3.27
34  2.71  2.89  2.75  3.18  3.19  3.22  3.73  3.00  3.08
35  2.88  3.48  3.17  2.50  2.77  3.53  3.30  3.00  3.08
36  3.02  3.63  3.42  3.37  3.15  3.27  3.63  3.00  3.31
37  3.31  3.60  3.67  3.57  3.56  3.87  3.78  3.00  3.55
38  2.48  2.48  2.23  2.09  1.45  2.42  2.05  2.58  2.22
39  2.90  3.55  3.38  3.54  3.23  3.39  3.53  3.00  3.32
40  2.83  3.61  3.18  3.23  3.02  3.20  3.18  3.00  3.16
41  2.38  2.70  3.02  3.00  3.26  3.00  0.62  0.35  2.29
42  3.24  3.83  3.65  3.61  3.69  3.73  3.70  3.00  3.56
43  3.43  3.56  3.55  3.67  3.35  3.66  3.60  3.00  3.48
44  3.76  3.81  3.17  3.63  3.81  3.81  3.70  3.00  3.59
45  3.64  3.96  3.69  3.83  3.81  4.00  3.85  3.00  3.72
46  3.05  2.35  3.39  2.50  2.84  2.40  1.67  3.00  2.65
47  3.71  3.60  3.60  3.61  3.83  3.53  2.42  3.00  3.41
48  3.00  2.83  3.57  3.26  3.83  3.33  2.43  3.00  3.16
49  2.76  2.53  2.98  2.71  2.64  3.03  3.06  3.00  2.84
0     0
1     0
2     1
3     1
4     0
5     0
6     1
7     0
8     1
9     0
10    1
11    0
12    0
13    0
14    1
15    0
16    0
17    0
18    0
19    1
20    1
21    1
22    1
23    0
24    0
25    0
26    0
27    0
28    1
29    1
30    0
31    0
32    0
33    1
34    1
35    1
36    1
37    1
38    0
39    1
40    1
41    0
42    1
43    1
44    1
45    1
46    0
47    1
48    1
49    0
Name: Status Kelulusan, dtype: int64

4) Memisahkan data Mining Dengan Data Testing

In [11]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2 ,stratify= y, random_state=2)

In [12]:
print(x.shape, x_train.shape, x_test.shape)

(50, 9) (40, 9) (10, 9)

5) Membuat Data Latih Menggunakan Algoritma SVM

In [13]:
clasifier = svm.SVC(kernel='linear')

In [14]:
clasifier.fit(x_train, y_train)

SVC(kernel='linear')

6)Membuat Model valuasi Untuk Mengukur Tingkat Akurasi

In [15]:
x_train_prediction = clasifier.predict(x_train)
training_data_accuracy = accuracy_score(x_train_prediction, y_train)

In [16]:
print('Akurasi Data Train nya Adalah = ', training_data_accuracy)

Akurasi Data Train nya Adalah =  0.975

In [17]:
x_test_prediction = clasifier.predict(x_test)
test_data_accuracry = accuracy_score(x_test_prediction, y_test)

In [18]:
print('Akurasi Data Testing Adalah=', test_data_accuracry)

Akurasi Data Testing Adalah= 1.0

7) Membuat Model Akurasi

In [22]:
input_data = (2.76, 2.8, 3.2, 3.17, 2.98, 3, 3.03, 2, 2.87 )
input_data_as_numpy_array = np.array(input_data)
input_data_reshape = input_data_as_numpy_array.reshape(1,-1)
prediction = clasifier.predict(input_data_reshape)
print(prediction)
if(prediction [0] == 0):
    print('Mahasiswa Tidak Lulus')
else :
    print('Mahasiswa Lulus')

[0]
Mahasiswa Tidak Lulus

c:\Users\HP\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

8. Simpan Model

In [20]:
import pickle

In [21]:
filename = 'rekap_siswa.sav'
pickle.dump(clasifier, open(filename,'wb'))